<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SqlQuery</servlet-name>
        <servlet-class>SqlQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editor</servlet-name>
        <servlet-class>Editor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editinfo</servlet-name>
        <servlet-class>Editinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>DeleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>DeleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTask</servlet-name>
        <servlet-class>LoginTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SqlQuery</servlet-name>
        <url-pattern>/SqlQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editor</servlet-name>
        <url-pattern>/Editor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editinfo</servlet-name>
        <url-pattern>/Editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/DeleteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/DeleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/UpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTask</servlet-name>
        <url-pattern>/LoginTask</url-pattern>
    </servlet-mapping>
</web-app>
