*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 240px;
    height: 85px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 40px;
}
.container{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border:solid;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);

}
.login{
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
}
input{
    width: 85%;
    height: 50px;
    border: 2px solid rgb(0,0,0,0.1);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
    color: rgba(0,0,0,0.1);
    outline-style: none;
    font-family: sans-serif;
}
button{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;

}
a{
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}
a:hover{
    text-decoration: underline;
}
.btn{
    background-color: #42b72a;
    width: 50%;
    font-size: 16px;
    margin:  10px 0 20px 0;
}
.loginbtn:hover{
    background-color: #1366d1;
}
.btn:hover{
    background-color: #3ba327;
}
.style{
    position: relative;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.style::before{
    content: " ";
    display: block;
    width: 170px;
    height: 0.9x;
    background:rgba(0,0,0,0.2);
    left: 25px;
    top: 50%;
    position: absolute;
}
.style::after{
    content: " ";
    display: block;
    width: 170px;
    height: 0.9px;
    background:rgba(0,0,0,0.2);
    right: 25px;
    top: 50%;
    position: absolute;
}