*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.first-row{
    height: 50px;
    background-color: F5F5F5;
}
.left{
    float: left;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.left a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #6C7FA7;
}
.right{
    float: right;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
}
.right ul{
    list-style: none;
}
.right ul li{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: white;
    position: relative;
}
.right ul li span{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.right ul li ul{
    display: none;
    width: 100px;
    height: 200px;
}
.right ul li:hover ul{
    display: block;
    position: absolute;
    top:110%;
}
.second-row{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-row div:nth-child(odd){
    width: 19%;
    height: 45px;
    margin-left: 40px;
}
.second-row div:nth-child(even){
   width: 50%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.second-row div:nth-child(1) label{
    display: inline-block;
    height: 45px;
    background-color: red;
    width: 125px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.second-row div:nth-child(1) label:nth-child(1){
    background-color: #3D464D;
    color:#FFD333;
}
.second-row div:nth-child(1) label:nth-child(2){
    background-color: #FFD333;
    color: #3D464D;
}
.second-row div:nth-child(2) input{
    width: 400px;
    height: 40px;
    padding:5px;
    border-style: none;
    border: 1px solid #686c6f;
}
.second-row div:nth-child(2) span{
    height: 40px;
    display: block;
    padding:15px;
    padding-top: 10px;
    color: #FFD333;
    margin-left: -40px;
    border-left: 1px solid black;
}
.second-row div:nth-child(3) label:nth-child(1){
  font-size: 20px;
  color: grey;  
}
.second-row div:nth-child(3) label:nth-child(2){
    font-size: 30px;
    color: grey;
  }