<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationmech</servlet-name>
        <servlet-class>registrationmech</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTask</servlet-name>
        <servlet-class>LoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard2</servlet-name>
        <servlet-class>Dashboard2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editor</servlet-name>
        <servlet-class>Editor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login3</servlet-name>
        <servlet-class>Login3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard3</servlet-name>
        <servlet-class>Dashboard3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile2</servlet-name>
        <servlet-class>Profile2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile3</servlet-name>
        <servlet-class>Profile3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration22</servlet-name>
        <servlet-class>Registration22</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationTask22</servlet-name>
        <servlet-class>RegistrationTask22</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login4</servlet-name>
        <servlet-class>Login4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTask2</servlet-name>
        <servlet-class>LoginTask2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile4</servlet-name>
        <servlet-class>Profile4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update2</servlet-name>
        <servlet-class>Update2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update3</servlet-name>
        <servlet-class>Update3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile5</servlet-name>
        <servlet-class>Profile5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profiles</servlet-name>
        <servlet-class>profiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUpdate</servlet-name>
        <servlet-class>DataUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard4</servlet-name>
        <servlet-class>Dashboard4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update4</servlet-name>
        <servlet-class>Update4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profileedit</servlet-name>
        <servlet-class>Profileedit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationmech</servlet-name>
        <url-pattern>/registrationmech</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTask</servlet-name>
        <url-pattern>/LoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard2</servlet-name>
        <url-pattern>/Dashboard2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editor</servlet-name>
        <url-pattern>/Editor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login3</servlet-name>
        <url-pattern>/Login3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard3</servlet-name>
        <url-pattern>/Dashboard3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile2</servlet-name>
        <url-pattern>/Profile2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile3</servlet-name>
        <url-pattern>/Profile3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration22</servlet-name>
        <url-pattern>/Registration22</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationTask22</servlet-name>
        <url-pattern>/RegistrationTask22</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login4</servlet-name>
        <url-pattern>/Login4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTask2</servlet-name>
        <url-pattern>/LoginTask2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile4</servlet-name>
        <url-pattern>/Profile4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update2</servlet-name>
        <url-pattern>/Update2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update3</servlet-name>
        <url-pattern>/Update3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile5</servlet-name>
        <url-pattern>/Profile5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profiles</servlet-name>
        <url-pattern>/profiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUpdate</servlet-name>
        <url-pattern>/DataUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard4</servlet-name>
        <url-pattern>/Dashboard4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update4</servlet-name>
        <url-pattern>/Update4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profileedit</servlet-name>
        <url-pattern>/Profileedit</url-pattern>
    </servlet-mapping>
</web-app>
