<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=.main, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            background-color: antiquewhite;
            height: 600px;
            width: 250px;
        }
        .side{
            top:10%;
            left:45%;   
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Uday Mourya In INDORE INDIA     </h1>
        <h3>UI UX DEVELOPER</h3>
        <h3>Home</h3>
        <h3>Service</h3>
        <h3>Skills</h3>
        <h3>Education</h3>
        <h3>Experience</h3>
        <h3>Work</h3>
        <h3>Blog</h3>
        <h3>Content</h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
    </div>
    <div class="side">
        <h1> I AM  </h1>
            <h1>A Designer</h1>
            <p>I AM A DESIGNER FOR 5 YEARS  </p>
    </div>
</body>
</html>