<html>
    <head>
       <link rel="stylesheet" href="multi-shop-srow.css"/> 
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
       <link href="https://fontawesome.com/" rel="stylesheet"/>
    </head>
    <body>
        <div class="main">
            <div class="first-row">
                <div class="left">
                  <a href="#">About</a>
                  <a href="#">Contact</a>
                  <a href="#">Help</a>
                  <a href="#">FAQs</a>
                </div>
                <div class="right">
                    <ul>
                        <li><span>My&nbsp;Account&#9660;</span>
                          <ul>
                            <li>Sign in</li>
                            <li>Sign up</li>
                          </ul>
                        </li>
                        <li><span>USD &#9660;</span>
                          <ul>
                            <li>EUR</li>
                            <li>GBP</li>
                            <li>CAD</li>
                          </ul>
                        </li>
                        <li><span>EN &#9660;</span>
                          <ul>
                            <li>FR</li>
                            <li>AR</li>
                            <li>UR</li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="second-row">
                <div style="background-color: #FFD333;">
                    <label>MULTI</label>
                    <label style="width: 100px !important;">SHOP</label>
                </div>
                <div>
                    <input type="text" placeholder="Search for product"/>
                    <span class="fa fa-search"></span>
                </div>
                <div class="A">
                    <label> Customer Service</label>
                    <label>+0123456789</label>
                </div>
            </div>
            <div class="third-row">
              <div class="pane-All">
                    <i class="fa fa-bars mr-2"></i>Categories
              </div>

              <div class="panel-ops">
                <p>Home</p>
                <p>SHOP</p>
                <p>Shop Detail</p>
                <p>Pages</p>
                <p>Contact</p>
              </div>
              <div class="ficon">
                <i class="fa-sharp fa-solid fa heart"></i>0
                <i class="fa-solid fa-cart-shopping"></i>0
              </div>            
            </div>

            <div class="f-image">
              
                <div class="image1">
                  <img src="carousel-1.jpg">
                </div>
              
                 <div class="image2">
                   <img src="carousel-2.jpg" alt="">
                 </div>
                 <div class="image3">
                  <img src="carousel-3.jpg" alt="">
                 </div>
            </div>
        </div>
    </body>
</html>