*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.first-row{
    height: 50px;
    background-color: #F5F5F5;
    border: 1px solid;
}
.left{
    float: left;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.left a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #6C7FA7;
}
.right{
    float: right;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
}
.right ul{
    list-style: none;
}
.right ul li{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: white;
    position: relative;
}
.right ul li span{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}