<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MULTI-SHOP</title>
    <link rel="stylesheet" href="multi-shop2.css">
   
</head>
<body>
    <div class="main">
        <div class="first-row">
            <div class="left">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Help</a>
                <a href="#">FAQs</a>
            </div>
            <div class="right">
                <ul>
                    <li> <span>My Account</span></li>
                    <li><span>USD</span>></span></li>
                    <li><span>EN</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>