<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <link rel="stylesheet" href="style.css">
    </title>
</head>
<body>
    <div class="main">
        <div class="left-div">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">FAQ's</a>
        </div>
    </div>
    <div class="right-div">
            <ul>
                <li><span>My Account</span></li>
                <li><span>USD</span></li>
                <li><span>EN</span></li>
                
            </ul>
    </div>
</body>
</html>