*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
   height: 70px; 
   width: auto;
   background-color: whitesmoke;
   display: flex;
}
#logo{
    height: 80px;
    width: 120px;
    margin-left: 40px;
}
#navbar ul{
    list-style: none;
    margin-left: 15px;
    padding: 25px;
    align-items: center;
    /* display: flex; */
}
#navbar ul li{
 display: inline;
 margin-left: 100px;
}
#navbar ul li a{
    
}
